{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row my-3 p-3">
    <img class="rounded-circle account-img" src="{{ user.profile.avatar.url }} " style="cursor: pointer;"/>
</div>
<div class="content-section col-lg-12 col-md-12 col-sm-12 tutorial-style" style="min-height:65vh;">
    <a class="button" href="{% url 'article_create' %}">New Article</a>
    <a class="button" href="{% url 'article_list' %}">List Article</a>
    <a class="button" href="{% url 'update_profile' user.pk %}">Edit Profile</a>
    <legend class="border-bottom mb-4">Profile Information:</legend>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="media">
            <div class="media-body">
                <h2 class="account-heading">{{ desired_user }}
                    <!-- <small class="text-muted">({{ form.instance.status }})</small> -->
                </h2>
                <p class="text-secondary">{{ user.profile.first_name }} {{ user.profile.last_name }}</p>
                <p class="text-secondary">{{ user.profile.bio }}</p>
            </div>
        </div>

        <h3 class="mt-5">Articles by {{ form.instance.username}} :</h3>
        <div class="mb-5">
            {% include 'partial/article_list.html' %}
        </div>

        
    </form>

</div>
{% endblock content %}