{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h1>Create Position</h1>

<form action="{% url 'article_create' %}" method="POST">
    {% csrf_token %}

    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}

    <!-- <div class="mb-3">
        {{ form.title|as_crispy_field }}
        {% for error in form.title.errors %}
            <div style="color:red; font-size: 10px;">{{ error }}</div>
        {% endfor %}
    </div> -->

    <div class="mb-3">
        <!-- {{ form.body|as_crispy_field }} -->
        {{ form|crispy }}
    </div>

    <div class="mb-3">
        <select class="form-select" multiple aria-label="multiple select example" name="tags">
            {% for tag in tags %}
                <option value="{{ tag.id }}">{{ tag }}</option>
            {% endfor %}
        </select>
    </div>

    {% for error in form.tag.errors %}
        <div style="color:red; font-size: 10px;">{{ error }}</div>
    {% endfor %}


    <button type="submit" class="btn btn-success">Create</button>
</form>
{% endblock%}