<!DOCTYPE html>
{% load socialaccount %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
  crossorigin="anonymous">
</head>
<body>
    
    <nav class="navbar-default.navbar-static-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}">Book Meni</a>
          {% if user.is_authenticated %}
            <p>Welcome, You are logged in as {{ user.username }}</p>
            <p><a class="navbar-brand" href="{% url 'account_logout' %}?next={{ request.path }}">Log Out</a></p>
          {% else %}
          <p>You are not Logged In</p>
          <a class="navbar-brand" href="{% url 'account_login' %}?next={{ request.path }}">Log in / Sign up</a>
          {% endif %}
        </div>
    </nav>

    <main>
      <div class="container">
        {% block content %} 
        {% endblock %}
      </div>
    </main>

</body>
</html>