{% extends "base.html" %}
{% block title %} Website {% endblock %}
{% block content %}

<div class="text-container">
  <h1>Elevate Your Interview Skills with Real-world Practice</h1>
  <p>Connecting mentors and students for mock interviews</p>
  <p>Join our platform to:</p>
  <ul>
    <li>Access experienced mentors</li>
    <li>Practice in realistic interview environments</li>
    <li>Receive personalized feedback and guidance</li>
    <li>Build your professional network</li>
  </ul>
  <a class="cta-button" href="{% url 'account_login' %}">Get Started</a>
</div>

{% endblock %}
{% load socialaccount %}
<html>
<body>
<h1>
    My Google OAth Project
</h1>
{% if user.is_authenticated %}
    <p>Welcome, You are logged in as {{user.username}}</p>
{% else %}
    <div class="container-fluid">
          <p>You are not Logged In</p>
          <a class="navbar-brand" href="{% url 'account_login' %}?next={{ request.path }}">Log in / Sign up</a>
          {% endif %}
        </div>
</div>

<div>

  <div class="text-container">
    <h1>Elevate Your Interview Skills with Real-world Practice</h1>
    <p>Connecting mentors and students for mock interviews</p>
    <p>Join our platform to:</p>
    <ul>
      <li>Access experienced mentors</li>
      <li>Practice in realistic interview environments</li>
      <li>Receive personalized feedback and guidance</li>
      <li>Build your professional network</li>
    </ul>
    <a class="cta-button" href="{% url 'signup' %}">Get Started</a>
  </div>

</div>
  
</body>
</html>