{% extends "base.html" %}
{% block title %} Website {% endblock %}
{% block content %}
{% endblock %}
{% load socialaccount %}
<html>
<body>
<h1>
    My Google OAth Project
</h1>
{% if user.is_authenticated %}
    <p>Welcome, You are logged in as {{user.username}}</p>
{% else %}
    <div class="container-fluid">
          <p>You are not Logged In</p>
          <a class="navbar-brand" href="{% url 'account_login' %}?next={{ request.path }}">Log in / Sign up</a>
          {% endif %}
        </div>
</div>

<div class="text-container">
    <div class="header">
      <p>Hi! My name is Akzhan, I'm from Almaty Kazakhstan</p>
    </div>
    <div class="body">
      <p>I love <a href="https://instagram.com/akzhan_berdi?igshid=YmMyMTA2M2Y=">snowboarding</a>, yoga, coffee and different technologies applied to fight climate change. Back in 2020 I started my <a href="https://instagram.com/fika_kazakhstan?igshid=YmMyMTA2M2Y=">company</a> supplying local HoReCa with biodegradable consumables. Although my clients were committed to our product despite the high green premium they paid. I found that prime concern on climate change should lay on daily emissions, and not a plastic. So now I learn Python to implement all my crazy ideas into reality, and this website is a clear reflection of my Learning by Doing philosophy.</p>
    </div>
    <div class="tail">
      <p>Being an entrepreneur and ambitious red flag for corporate employers, I prefer Freelancing. You may contact me for side Data Analysis and/or Web Development projects you might want to outsource.</p>
      <p>Get through to me via <a href="tg://resolve?domain=akzhan_berdi">telegram</a>. Click to view <a href="https://drive.google.com/file/d/1lVsivZcYA4moFt63r0v0rq_LEWCwnn7V/view?usp=sharing">resume</a>, and <a href="https://www.linkedin.com/in/akzhanberdi/recent-activity/shares/">LinkedIn</a>, and maybe even <a href="https://github.com/AkzhanBerdi">GitHub</a>? Good luck, and have fun!</p>
    </div>
  </div>
  
</body>
</html>